* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background:#FFF5EE;
}

header {
    width: 100%;
    background:#B22222;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-cidade {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 16px;
    width: 250px;
}

.botao-busca {
    border: none;
    padding: 10px;
    border-radius: 50%;
    background:white;
    cursor: pointer;
}

.botao-apagar {
    border: none;
    padding: 10px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.img-busca {
    width: 18px;
}

.container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background:#B22222;
    border-radius: 20px;
    padding: 15px;
    color:white;
}

.cidade {
    font-size: 18px;
}

.temp {
    font-size: 22px;
    margin-top: 10px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.texto-previsao {
    margin-left: 10px;
}

.umidade {
    margin-top: 10px;
}
